html, body {
    font-size: 1rem !important;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
    color: #0f2a41 !important;
}

.BgImg {
    background: url(../_img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a,i{
    text-decoration: none;
    text-decoration-line: none !important;
    color: #4a5e70;
}

li{
    list-style: none !important;
}

.LandingHead{
    font-size: 4vw;
    font-weight: lighter;
}

.LandingHead span{
    font-size: 8vw;
}

.MyImage{
    width: 20vw;
    height: auto;
}